version: "3.8"
services:
  app:
    build: .
    container_name: ds_app
    ports:
      - "8000:8000"
    # if you have model locally and want to mount:
    # volumes:
    #   - ./src/model.joblib:/app/src/model.joblib
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    depends_on:
      - prometheus